{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %} Homepage {% endblock %}

{% block content %}
    <h1> Homepage </h1>

    <hr>
    <a href="{{url_for('customers')}}">Customers page</a><br>
    <a href="{{url_for('products')}}">Products page</a><br>
    <hr>
    <a href="{{url_for('add_customer')}}">Add customer</a><br>
    <a href="{{url_for('add_product')}}">Add product</a>

{% endblock %}